@import "./variables";

.search-person {
  display: flex;
  align-items: center;
  width: 30%;
  margin: 24px;
  background: $lightish-grey;
  position: relative;
  &:hover, &:active, &:focus-visible {
    cursor: pointer;
  }
  & > svg {
    height: 16px;
  }
  & > .search-input {
    border: none;
    background: transparent;
    font-size: 14px;
    margin-left: 15px;
    height: inherit;
    width: 68%;
    &:focus-visible {
      outline: none;
    }
  }
  & > a {
    position: absolute;
    right: 0;
    text-decoration: none;
  }
}
